@page "/"

<h1>Practice with a purpose!</h1>
<p>Musicians don't practice with the same note repeatedly.
    So why practice your golf swing with the same club repeatedly?
    This app will help you practice your swing like you are in the course.</p>
<a href="../skilllevel">Let's Practice</a>